<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    
    <title>SantDelivery</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'core/css/owl.carousel.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'core/css/responsive.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>
    
    <div class="container">
        <div class="row">
            <h1>Listado de Restaurantes</h1>
        </div>
        <div class="row">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Mail</th>
                        <th scope="col">Web</th>                        
                    </tr>
                </thead>
                <tbody>
                    {% for ve in Socios %}
                    <tr>
                        <td>{{ve.NombreSocio}}</td>
                        <td>{{ve.Telefono}}</td>
                        <td>{{ve.Direccion}}</td>
                        <td>{{ve.Mail}}</td>
                        <td>{{ve.Web}}</td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-success" href="{% url 'index' %}"> Inicio</a>            
        </div>
    </div>
</div>
</div>

<div class="copyright">
    <div class="container">
        <p>© 2019 Todos los Derechos Reservados. </p>
    </div>
</div>

</body>

</html>